@use "./variables" as v;
@font-face {
  font-family: 'GravityFalls';
  src: url('../public/fonts/gravitation_falls.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: v.$main;
  background-color: v.$body;

}

#root{
  display: flex;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2em;;
}
